html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

/* Carousel styling */
#introCarousel,
.carousel-inner,
.carousel-item,
.carousel-item.active {
    height: 100vh;
}

 /* Height for devices larger than 576px */
@media (min-width: 992px) {
    #introCarousel {
        margin-top: -58.59px;
    }

    #introCarousel,
    .carousel-inner,
    .carousel-item,
    .carousel-item.active {
        height: 50vh;
    }
}

.navbar .nav-link {
    color: #fff !important;
}

:root {
    --primaryColor: #68217a;
    --secondaryColor: #f4f4f4;
    --bgMenuActive: #8e47a0;
    --bgButton: #68217a;
    --logoImageUrl: url('../../Creaciones_gime.png');
    --bgAside: var(--primaryColor);
}